# Build artifacts
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo

# CMake
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

*.tmp
*.log
*.bak
*.swp
*~

plans/

vcpkg/
vcpkg_installed/

# IDE
.cache/
.vs/
.vscode/
.cursor/

Testing/

data/input/*.ply
data/input/*.splat
data/output/*.glb
data/output/*.gltf
data/

# Web Demo
web_demo/*.glb
web_demo/*.gltf

third_party/

# Docker
.docker/

__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

#Latex
*/out

build/
vcpkg/
vcpkg_installed/
*.tar.xz